<%= form_for :user, url: '/login' do |form| %>
  <div class="bg-grey-lighter flex flex-col">
    <div class="container max-w-sm mx-auto min-h-screen flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Log In</h1>
        <%= form.text_field :email, class: 'block border border-grey-light w-full p-3 rounded mb-4', required: true, placeholder: "Email"%>
        <%= form.password_field :password, class: 'block border border-grey-light w-full p-3 rounded mb-4', required: true, placeholder: "Password"%>
        <button type="submit" class="w-full text-center py-3 rounded bg-green-600 text-white hover:bg-green-dark focus:outline-none my-1">Log In</button>
      </div>

      <div class="text-grey-dark mt-6">
        Don't have an account?
        <%= link_to "Sign Up", signup_path, class: "no-underline border-b border-blue text-blue-700"%>
      </div>
      <div class="text-grey-dark mt-6">
        <%= link_to "Forgot Password?", new_password_reset_path, class: "no-underline border-b border-blue text-blue-700"%>
      </div>
    </div>
  </div>
<% end %>
